USE [master]
GO
/****** Object:  Database [HRIS]    Script Date: 02/11/2022 11:13:47 PM ******/
CREATE DATABASE [HRIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRIS]
GO
/****** Object:  Schema [FM]    Script Date: 02/11/2022 11:13:47 PM ******/
CREATE SCHEMA [FM]
GO
/****** Object:  Schema [PDS]    Script Date: 02/11/2022 11:13:47 PM ******/
CREATE SCHEMA [PDS]
GO
/****** Object:  Table [FM].[BloodType]    Script Date: 02/11/2022 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FM].[BloodType](
	[BloodTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BloodTypeDesc] [varchar](100) NULL,
	[IsDel] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FM].[CivilStatus]    Script Date: 02/11/2022 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FM].[CivilStatus](
	[CivilStatusID] [int] IDENTITY(1,1) NOT NULL,
	[CivilStatusDesc] [varchar](100) NULL,
	[IsDel] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CivilStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FM].[Country]    Script Date: 02/11/2022 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FM].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryDesc] [varchar](100) NULL,
	[IsDel] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FM].[PhilippineDirectory]    Script Date: 02/11/2022 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FM].[PhilippineDirectory](
	[CMID] [int] IDENTITY(1,1) NOT NULL,
	[Island] [varchar](60) NOT NULL,
	[Region] [varchar](60) NOT NULL,
	[Province] [varchar](60) NOT NULL,
	[CityMunicipality] [nvarchar](200) NOT NULL,
	[Barangay] [nvarchar](200) NOT NULL,
	[PostalCode] [int] NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_PhilippineDirectory] PRIMARY KEY CLUSTERED 
(
	[CMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PDS].[PersonalInformation]    Script Date: 02/11/2022 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PDS].[PersonalInformation](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[ExtName] [nvarchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PlaceOfBirth] [nvarchar](100) NOT NULL,
	[Sex] [bit] NOT NULL,
	[CivilStatusID] [int] NOT NULL,
	[Height] [varchar](20) NULL,
	[Weight] [varchar](20) NULL,
	[BloodTypeID] [int] NOT NULL,
	[GSIS] [varchar](20) NULL,
	[PAGIBIG] [varchar](20) NULL,
	[PHILHEALTH] [varchar](20) NULL,
	[SSS] [varchar](20) NULL,
	[TIN] [varchar](20) NULL,
	[AgencyEmployeeNo] [varchar](50) NULL,
	[IsFilipinoOrDualCitizen] [bit] NOT NULL,
	[IsDualCitizenByBirthOrByNaturalization] [bit] NULL,
	[CountryID] [int] NULL,
	[CurrentHouseBlkLotNo] [nvarchar](200) NULL,
	[CurrentStreet] [nvarchar](100) NULL,
	[CurrentSubdivisionVillage] [nvarchar](200) NULL,
	[CurrentCMID] [int] NULL,
	[PermanentHouseBlkLotNo] [nvarchar](200) NULL,
	[PermanentStreet] [nvarchar](100) NULL,
	[PermanentSubdivisionVillage] [nvarchar](200) NULL,
	[PermanentCMID] [int] NULL,
	[TelephoneNo] [varchar](20) NULL,
	[MobilePhone] [varchar](20) NULL,
	[PersonalEmailAddress] [nvarchar](300) NULL,
	[IsDel] [bit] NOT NULL,
	[UserStamp] [varchar](25) NOT NULL,
	[DateStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_PersonalInformation] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FM].[BloodType] ADD  DEFAULT ((0)) FOR [IsDel]
GO
ALTER TABLE [FM].[CivilStatus] ADD  DEFAULT ((0)) FOR [IsDel]
GO
ALTER TABLE [FM].[Country] ADD  DEFAULT ((0)) FOR [IsDel]
GO
ALTER TABLE [FM].[PhilippineDirectory] ADD  CONSTRAINT [DF_PhilippineDirectory_PostalCode]  DEFAULT ((0)) FOR [PostalCode]
GO
ALTER TABLE [FM].[PhilippineDirectory] ADD  CONSTRAINT [DF_PhilippineDirectory_IsDel]  DEFAULT ((0)) FOR [IsDel]
GO
ALTER TABLE [PDS].[PersonalInformation]  WITH CHECK ADD FOREIGN KEY([BloodTypeID])
REFERENCES [FM].[BloodType] ([BloodTypeID])
GO
ALTER TABLE [PDS].[PersonalInformation]  WITH CHECK ADD FOREIGN KEY([CivilStatusID])
REFERENCES [FM].[CivilStatus] ([CivilStatusID])
GO
ALTER TABLE [PDS].[PersonalInformation]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [FM].[Country] ([CountryID])
GO
ALTER TABLE [PDS].[PersonalInformation]  WITH CHECK ADD FOREIGN KEY([CurrentCMID])
REFERENCES [FM].[PhilippineDirectory] ([CMID])
GO
ALTER TABLE [PDS].[PersonalInformation]  WITH CHECK ADD FOREIGN KEY([PermanentCMID])
REFERENCES [FM].[PhilippineDirectory] ([CMID])
GO
USE [master]
GO
